#board {
	display: grid;
	gap: 0;
	width: 400px;
	height: 400px;
	margin: 0;
}
.cell {
	background-color: #3d8a46;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.light {
	background-color: #4fb85c;
}
