body {
	display: block;
	background-color: #e8e8e8;
}
#game-wrap {
	position: relative;
	margin: 50px auto;
	width: fit-content;
}
#board {
	display: grid;
	gap: 0;
	width: 400px;
	height: 400px;
	margin: 0;
}
.cell {
	background-color: #3d8a46;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.cell.highlight {
	background-color: #ab3c38;
}
.light {
	background-color: #4fb85c;
}
.light.highlight {
	background-color: #de413c;
}
.cell.mine {
	background-color: #6038f2;
}
.light.mine {
	background-color: #7350f2;
}
#piece-holder {
	margin: 10px 0;
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	background-color: #c7c7c7;
}
.piece {
	width: 50px;
}
.piece-img {
	width: 40px;
	height: auto;
	margin: 3px 5px 0 5px;
	cursor: pointer;
}
.selected-piece {
	background: rgba(255, 247, 0, 0.5) !important;
}
.piece-counter {
	text-align: center;
	margin: -3px 0 5px 0;
	width: 100%;
	font-family: monospace;
	font-size: 20px;
	color: #474747;
}
#preview-piece {
	position: absolute;
	display: none;
	pointer-events: none;
	margin: 0;
	z-index: 100;
	-webkit-filter: drop-shadow(-2px 4px 5px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(-2px 4px 5px rgba(0, 0, 0, 0.5));
}
.cell-piece {
	position: absolute;
	z-index: 10;
	margin: 0;
	cursor: auto;
	pointer-events: none;
}
.mine-count {
	opacity: 0.8;
	font-family: monospace;
	color: #ff002b;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	margin: 0;
	z-index: 20;
	position: absolute;
	pointer-events: none;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.9);
}
